{% extends "index.html" %}
{% block function %}
{% load static %}
<div class="parallax">
    <div class="title">
        <div class="h1bg"></div>
        <h1><span class="red">♥</span>@勤劳的牧场主<span class="red">♥</span></h1>
        <a href="http://live.bilibili.com/3472667" target="_blank"><p class="live">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M18.223 3.086a1.25 1.25 0 0 1 0 1.768L17.08 5.996h1.17A3.75 3.75 0 0 1 22 9.747v7.5a3.75 3.75 0 0 1-3.75 3.75H5.75A3.75 3.75 0 0 1 2 17.247v-7.5a3.75 3.75 0 0 1 3.75-3.75h1.166L5.775 4.855a1.25 1.25 0 1 1 1.767-1.768l2.652 2.652c.079.079.145.165.198.257h3.213c.053-.092.12-.18.199-.258l2.651-2.652a1.25 1.25 0 0 1 1.768 0zm.027 5.42H5.75a1.25 1.25 0 0 0-1.247 1.157l-.003.094v7.5c0 .659.51 1.199 1.157 1.246l.093.004h12.5a1.25 1.25 0 0 0 1.247-1.157l.003-.093v-7.5c0-.69-.56-1.25-1.25-1.25zm-10 2.5c.69 0 1.25.56 1.25 1.25v1.25a1.25 1.25 0 1 1-2.5 0v-1.25c0-.69.56-1.25 1.25-1.25zm7.5 0c.69 0 1.25.56 1.25 1.25v1.25a1.25 1.25 0 1 1-2.5 0v-1.25c0-.69.56-1.25 1.25-1.25z" fill="rgba(14,166,216,1)"/></svg>
            <span class="room">哔哩哔哩直播间</span>
        </p></a>
    </div>
    <div class="info">
        <h2 style="text-align: center;">/* 这里是一个自我介绍~ */</h2>
    </div>
    <div class="log" style="background-color: rgb(255, 235, 127);">
        
        <h2>➤&nbsp;&nbsp;勤劳的牧场主</h2>
        <p class="manuals">
        名字是<b>起源</b>，你也可以叫我阿源~<br>
        求关注！O ω O<br>
        欢迎加入QQ群一起玩：367977763<br>
        </p>
        <p class="manuals">
            <b>微博：</b><a href="https://weibo.com/mineraltown">@矿石镇</a><br>
            <b>微博：</b><a href="https://weibo.com/umisholemon">@勤劳的牧场主</a><del>（某种意义上来说这才是大号）</del><br>
            <br>
            <b>哔哩哔哩：</b><a href="https://space.bilibili.com/4516259">https://space.bilibili.com/4516259</a><br>
            <b>哔哩哔哩直播间：</b><a href="http://live.bilibili.com/3472667">http://live.bilibili.com/3472667</a><br>
            <br>
            <b>Acfun：</b><a href="https://www.acfun.cn/u/377030">https://www.acfun.cn/u/377030</a><br>
            <b>Acfun直播间（备用）：</b><a href="https://live.acfun.cn/live/377030">https://live.acfun.cn/live/377030</a>
        </p>
    </div>
    <div class="log" style="padding:0 50px 0 50px;">
        <p style="text-align: center;">勤劳的牧场主 © 2021</p>
    </div>
</div>
{% endblock %}