[Unit]
Description=muchang_server
After=network.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=server.py
Restart=on-failure

[Install]
WantedBy=multi-user.target